body
{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 18px;
}

/*
@media all and (max-height: 650px)
{
  .ellsworthimg {display: none;}
}
@media all and (max-width: 1100px)
{
  .ellsworthimg {display: none;}
}
@media all and (max-width: 1300px)
{
  .ellsworthimg {display: none;}
}
*/

#nav
{
  background-color: #3D4B2E;
  z-index: 10;
  /*opacity: 0.5;*/
  background: rgba(104,104,104,.5);
}

#nav_wrapper
{
  width: 100%;/*960px;*/
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

#nav ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
}

#nav li
{
  display: inline-block;
  z-index: 10;
}

#nav ul li:hover
{
  background-color: #3D4B2E;
  z-index: 10;
}

#nav ul li a:hover
{
  color: #ccc; /*white;*/
  z-index: 10;
}

#nav ul li a,visited
{
  color: white; /*#ccc;*/
  display: block;
  padding: 15px;
  text-decoration: none;
  z-index: 10;
}

#nav ul li a :hover
{
  color: white; /*#ccc;*/
  text-decoration: none;
  z-index: 10;
}

#nav ul li:hover ul
{
  display: block;
  z-index: 10;
}

#nav ul ul
{
  display: none;
  position: absolute;
  border: 5px solid #00533E;
  border-top: 0;
  margin-left: -5px;
  z-index: 10;

}

#nav ul ul li
{
  display: block;
  background-color: #00533E;
  z-index: 10;
}

#nav ul ul li a
{
  display: block;
  background-color: #00533E;
  z-index: 10;
}

#nav ul ul li a,visited
{
  color: white; /*#ccc;*/
  z-index: 10;
}

#nav ul ul li a:hover
{
  color: #ccc;/*White;*/
  z-index: 10;
}


div.callToActionBox
{
  min-height: 175px;
  width: 100%;
  margin-top: 0px;
  background-color: #709A42;
  box-shadow: 2px 2px 5px grey;
  display: inline-block;
  background: url('http://www.ryantampone.com/brockportofficehours/src/callToActionHeader.png') no-repeat;
  background-size: cover;
  z-index: 8;
}
/*
div.callToActionBox img
{
  flex-shrink: 0;
  min-width: 100%;
  max-height: 175px;
  position: relative;
}
*/
div.callToActionContent
{
  height: inherit;
  /*width: inherit;*/
  position: relative;
  margin-top: 72px;
  margin-left: 15%;/*200px;*/
  margin-right: 15%;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  bottom: 10px;
  left: 10px;
  z-index: 8;
}
