
#login{
  height: 300px;
  width: 300px;
  /*
  top:5%;
  left: 5%;
  bottom: 5%;
  */
  background: #F5F5F5;
  box-shadow: 5px 5px 5px #bdbdbd/*#b6aeae*/;
}
#login:hover{
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  box-shadow: 4px 4px 5px grey;
}


.innerTable
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*
	position: absolute;
	width: 100%;
	height: 60%;*/
}

#signoutButton
{
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.button
{
    background-color: #5193FB;
    border: none;
    color: white;
    padding: 10px 94px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text]
{
    width: 80%;
    padding: 5px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size:18px;
}

input[type=password]
{
    width: 80%;
    padding: 5px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size:18px;
}
